<div>

    <h2>Famous Western Paintings</h2>
    <div class="painting">

        <div class="image-covered">
        
            <div class="tile-cover">
                <div class="row">
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade1 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade2 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade3 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade4 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade5 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade6 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade7 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade8 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade9 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade10 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade11 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade12 }"></span>                    
                </div>
                <div class="row">
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade13 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade14 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade15 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade16 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade17 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade18 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade19 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade20 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade21 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade22 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade23 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade24 }"></span>                    
                </div>
                <div class="row">
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade25 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade26 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade27 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade28 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade29 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade30 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade31 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade32 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade33 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade34 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade35 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade36 }"></span>                    
                </div>
                <div class="row">
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade37 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade38 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade39 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade40 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade41 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade42 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade43 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade44 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade45 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade46 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade47 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : lessonCtrl.startFade48 }"></span>                    
                </div>
            </div>
                 
            <img src="{{ lessonCtrl.randomPainting.image }}" alt="">

        </div>

    </div>


    <div class='who-painted-prompt'>
        <h3>
            Who painted this?
        </h3>
        <i 
            ng-class="{
                'wrong-x' : lessonCtrl.incorrectAnswer,
                'fa fa-times' : lessonCtrl.incorrectAnswer,
            }" 
            aria-hidden="true"
        ></i>
        <i 
            ng-class="{
                'wrong-x' : !lessonCtrl.answeredInTime,
                'fa fa-clock-o' : !lessonCtrl.answeredInTime,
            }"
            aria-hidden='true'
        ></i>
    </div>

    <div class='row'>
            
        <span 
            class='answer-list' 
            ng-repeat='artist in lessonCtrl.answerList'
        >
        
            <div class='col-md-3 col-xs-6'>

                <!-- Modal Call -->
                <button
                    class = "answer-button btn-block"
                    ng-class="{
                        'correct-answer' : artist.correct, 
                        'wrong-answer' : artist.incorrect
                    }"
                    type='checkbox'
                    name='artist.name'
                    id='{{ artist.name }}'
                    ng-value='artist.name'
                    ng-click='lessonCtrl.userChoice(artist)'
                    data-target='#modalCorrectAnswer'
                    data-toggle='modal' 
                >
                    {{ artist.name }}
                </button>


                <!-- Modal -->
                <div 
                    class="modal fade" 
                    id="{{ lessonCtrl.modalID }}" 
                    tabindex="-1" 
                    role="dialog" 
                    aria-labelledby="{{ lessonCtrl.modalID }}"
                    data-backdrop=""
                >
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            
                            <div class="modal-header">
                                   
                                <h4 class="modal-title" id="{{ lessonCtrl.modalID }}">{{ lessonCtrl.randomPainting.title }}</h4>
                                <div>by</div>
                                <h4 class="modal-title" id="{{ lessonCtrl.modalID }}">{{ lessonCtrl.randomPainting.artist.name }}</h4>
                            </div>


                            <div class="modal-body">
                               <div class="row"> 
                                    <div class="col-md-6">
                                        <div class="modal-painting">
                                            
                                            <img ng-src="{{ lessonCtrl.randomPainting.image }}" alt="">
                                            
                                            <div class="wrong-right-icons">
                                                <i 
                                                    ng-class="{
                                                        'wrong-x' : !lessonCtrl.correctFirstTime,
                                                        'fa fa-times' : !lessonCtrl.correctFirstTime,
                                                        'correct-check' : lessonCtrl.correctFirstTime,
                                                        'fa fa-check' : lessonCtrl.correctFirstTime, 
                                                    }" 
                                                    aria-hidden="true"
                                                ></i>
                                                <i 
                                                    class='fa fa-clock-o'
                                                    ng-class="{
                                                        'wrong-x' : !lessonCtrl.answeredInTime,
                                                        'correct-check' : lessonCtrl.answeredInTime,
                                                    }" 
                                                    aria-hidden="true"
                                                ></i> 
                                            </div>

                                        </div>                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class='modal-description'>
                                            {{ lessonCtrl.randomPainting.description }}
                                        </div>                                        
                                    </div>
                                </div>                                
                            </div>

                            <div class="modal-footer">
                                
                                <button 
                                    type="button" 
                                    class="btn close btn-info" 
                                    data-dismiss="modal"
                                    ng-click='lessonCtrl.nextQuestion()'
                                >
                                    Next Painting
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Modal -->

            </div><!-- end col -->

        </span><!-- end ng-repeat -->

    </div><!-- end row -->

</div>
