<h2>Go ahead and play.</h2>
<lead>Sign up for more fun and to track your progress. (free)</lead>

<div class="row">
    <div class="col-md-10 col-md-offset-1 painting">

        <img src="{{ apeCtrl.randomPainting.image }}" alt="">

        <h3>Who painted this?</h3>

        <div class='answer-list' ng-repeat='artist in apeCtrl.answerList'>
            <button
                class = "answer-button"
                ng-class="{'correct-answer' : artist.correct, 'wrong-answer' : artist.incorrect}"
                type='checkbox'
                name='artist.name'
                id='{{ artist.name }}'
                ng-value='artist.name'
                ng-click='apeCtrl.userChoice(artist)'
            >
                {{ artist.name }}
            </button>
        </div>

        <div ng-show='apeCtrl.correctAnswer'>CORRECT!</div>
        <div ng-show='apeCtrl.incorrectAnswer'>That's not it. Try Again.</div>
  
        <button 
            class='btn btn-success' 
            ng-show='apeCtrl.correctAnswer'
            ng-submit='apeCtrl.randomPic()'
        >
            Next Painting
        </button>
    
    </div>
</div><!-- end row -->


<br>
Debuggery...
<pre>Painting Title: {{ apeCtrl.randomPainting.title }}</pre> 
<pre>Artist Name: {{ apeCtrl.randomPainting.artist.name }}</pre> 
<br>
<pre>answerList: {{ apeCtrl.answerList | json }}</pre>
<br>
<pre>Artists: {{ apeCtrl.artists | json }}</pre>
<br>
<pre>Paintings: {{ apeCtrl.paintings | json }}</pre>