<div>

    <h2>Famous Western Paintings</h2>
    <div class="painting">
        
        <div class="image-covered">
        
            <div class="tile-cover">
                <div class="row">
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade1 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade2 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade3 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade4 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade5 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade6 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade7 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade8 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade9 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade10 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade11 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade12 }"></span>                    
                </div>
                <div class="row">
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade13 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade14 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade15 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade16 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade17 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade18 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade19 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade20 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade21 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade22 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade23 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade24 }"></span>                    
                </div>
                <div class="row">
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade25 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade26 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade27 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade28 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade29 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade30 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade31 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade32 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade33 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade34 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade35 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade36 }"></span>                    
                </div>
                <div class="row">
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade37 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade38 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade39 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade40 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade41 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade42 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade43 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade44 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade45 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade46 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade47 }"></span>
                    <span class="col-xs-1 tiles" ng-class="{ 'tile-fade' : apeCtrl.startFade48 }"></span>                    
                </div>
            </div>
            
            <img ng-src="{{ apeCtrl.randomPainting.image }}" alt="">

        </div>
    
    </div>

    <div 
        ng-show='apeCtrl.showAnswerTimer' 
    >
        <div class="progress">
            <div 
                class="progress-bar progress-bar-info" 
                role="progressbar" 
                style="width: {{ apeCtrl.countDown * 20 }}%;"
            >
                {{ apeCtrl.countDown}}
            </div>
        </div>
    </div>


     <div class='who-painted-prompt'>
        <h3>
            Who painted this?
        </h3>
        <i 
            ng-class="{
                'wrong-x' : apeCtrl.incorrectAnswer,
                'fa fa-times' : apeCtrl.incorrectAnswer,
            }" 
            aria-hidden="true"
        ></i>
        <i 
            ng-class="{
                'wrong-x' : !apeCtrl.answeredInTime,
                'fa fa-clock-o' : !apeCtrl.answeredInTime,
            }"
            aria-hidden='true'
        ></i>
    </div>

    <div class='row'>
            
        <span 
            class='answer-list' 
            ng-repeat='artist in apeCtrl.answerList'
        >
        
            <div class='col-md-3 col-xs-6'>
                
                <!-- Modal Call -->
                <button
                    class = "answer-button btn-block"
                    ng-class="{
                        'correct-answer' : artist.correct, 
                        'wrong-answer' : artist.incorrect
                    }"
                    type='checkbox'
                    name='artist.name'
                    id='{{ artist.name }}'
                    ng-value='artist.name'
                    ng-click='apeCtrl.userChoice(artist)'
                    data-target='#modalCorrectAnswer'
                    data-toggle='modal'
                >
                    {{ artist.name }}
                </button>
                
                
                <!-- Modal -->
                <div
                    class='modal fade'
                    id='{{ apeCtrl.modalID }}'
                    tabindex='-1'
                    role='dialog'
                    aria-labelledby='{{ apeCtrl.modalID }}'
                    data-backdrop=''
                >
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            
                            <div class="modal-header">
  
                                <h4 class="modal-title" id="{{ apeCtrl.modalID }}">{{ apeCtrl.randomPainting.title }}</h4>
                                <div>by</div>
                                <h4 class="modal-title" id="{{ apeCtrl.modalID }}">{{ apeCtrl.randomPainting.artist.name }}</h4>
                            </div>


                            <div class="modal-body">
                               <div class="row"> 
                                    <div class="col-md-6">
                                        <div class="modal-painting">
                                            
                                            <img ng-src="{{ apeCtrl.randomPainting.image }}" alt="">
                        
                                            <div class="wrong-right-icons">
                                                <i 
                                                    ng-class="{
                                                        'wrong-x' : !apeCtrl.correctFirstTime,
                                                        'fa fa-times' : !apeCtrl.correctFirstTime,
                                                        'correct-check' : apeCtrl.correctFirstTime,
                                                        'fa fa-check' : apeCtrl.correctFirstTime, 
                                                    }" 
                                                    aria-hidden="true"
                                                ></i>
                                                <i 
                                                    class='fa fa-clock-o'
                                                    ng-class="{
                                                        'wrong-x' : !apeCtrl.answeredInTime,
                                                        'correct-check' : apeCtrl.answeredInTime,
                                                    }" 
                                                    aria-hidden="true"
                                                ></i>
                                            </div>
                                            
                                        </div>                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class='modal-description'>
                                            {{ apeCtrl.randomPainting.description }}
                                        </div>                                        
                                    </div>
                                </div>                                
                            </div>

                            <div class="modal-footer">
                                
                                <button 
                                    type="button" 
                                    class="btn close btn-info" 
                                    data-dismiss="modal"
                                    ng-click='apeCtrl.nextQuestion()'
                                >
                                    Next Painting
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Modal -->

            </div><!-- end col -->
        
        </span><!-- end ng-repeat -->

    </div><!-- end row -->
            
</div>
