body {
    padding-top: 70px;
    text-align: center;
}

.painting {
    margin-top: 10px;
}
.painting img {
    max-width: 80vw;
    max-height: 50vh;
    border: 5px solid #000;
}

.answer-list {
    margin: 5px auto 10px auto;
}
.answer-button {
    background-color: #5bc0de;
    color: #f0f0f0;
    padding: 10px 5px;
    text-shadow: 1px 1px 2px #333;
    margin: 5px 0px;
}

.wrong-answer {
    text-decoration: line-through;
    color: #fff;
    background-color: #d9534f;
}
.correct-answer {
    color: #fff; 
    background-color: #5cb85c;
}

.sign-up-invite {
    margin-top: 50px;
}

footer {
    border-top: 1px solid #ccc;
}
.footer-text {
    padding-top: 5px;
}




