/* animation keyframes */
@keyframes tile-fade {
    from { opacity: 100; }
    to { opacity: 0; }
}

body {
    padding-top: 70px;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Marcellus SC', serif; 
}

.menu {
    font-family: 'Marcellus SC', serif;     
}

.painting {
    margin-top: 10px;
    /*border: 1px solid red;*/
}
.painting img {
    max-width: 80vw;
    max-height: 50vh;
    border: 5px solid #000;
}

.image-covered {
}
.tile-cover {
    position: fixed;
    margin-left: 7vw;
    width: 80vw;
}
.tile-fade {
    /*visibility: hidden;*/
    animation-name: tile-fade;
    animation-duration: 1.5s;
    animation-timing-function: ease-in; 
    animation-fill-mode: forwards;

}
.tiles {
    background-color: red;
    opacity: .5;
    height: 50vh;
}
.tile-1 {
}
.tile-2 {
}
.tile-3 {
}
.tile-4 {
}
.tile-5 {
}
.tile-6 {
}
.tile-7 {
}
.tile-8 {
}
.tile-9 {
}
.tile-10 {
}
.tile-11 {
}
.tile-12 {
}

.wrong-x {
    font-size: 3em;
    color: #d9534f;
    margin-left: 25px;
}
.correct-check {
    font-size: 3em;
    color: #5cb85c;
    margin-left: 25px;
}

.answer-list {
    margin: 5px auto 10px auto;
}
.answer-button {
    background-color: #5bc0de;
    color: #fff;
    padding: 10px 5px;
    text-shadow: 1px 1px 2px #333;
    margin: 5px 0px;
    font-size: 1.3em;
}

.wrong-answer {
    text-decoration: line-through;
    color: #fff;
    background-color: #d9534f;
}
.correct-answer {
    color: #fff; 
    background-color: #5cb85c;
}

.sign-up-invite {
    margin-top: 50px;
}

.staging-artpacks {
    border: 1px solid 999;
    background-color: #ccc;
    margin: 10px;
    padding: 30px;
}
.staging-artpacks img {
    border: 5px solid black;
    width: 100%;
}
.staging-titles {
    font-size: 1.5em;
    margin-bottom: 5px
}

.modal-dialog {
    min-height: 95vh;
    min-width: 95vw;
}
.modal-painting {
}
.modal-painting img {
    max-width: 100%;
    max-height: 50vh;    
}
.modal-description {
    text-align: left;
    padding: 10px 50px;
    margin-top: 10px;
}
.close {
    color: #333;
    opacity: 1;
    text-decoration: underline;
}
.close:hover {
    background-color: #fff;
    opacity: 1;
    text-decoration: underline;
    color: #666;
}
.modal-footer {
    margin-top: 30px;
}

footer {
    border-top: 1px solid #ccc;
}
.footer-text {
    padding-top: 5px;
}




