/* animation keyframes */
@keyframes tile-fade {
    from { opacity: 100; }
    to { opacity: 0; }
}

body {
    padding-top: 50px;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Marcellus SC', serif; 
}

.navbar {
    margin-bottom: 0;
}
.menu {
    font-family: 'Marcellus SC', serif;     
}
.fa-paint-brush {
    color: #5bc0de;
}
.menu-title {
    margin-left: 5px;
}

.painting {
}
.painting img {
    height: 50vh;
    max-width: 80vw;
    border: 5px solid #000;
    margin-top: -56vh;
}
.image-covered {
    display: inline-block;
}
.tile-cover {
}
.tiles {
    height: 13vh;
    /*background-color: #fff;*/
    opacity: .5;
    background-color: red;
}
.tile-fade {
    animation-name: tile-fade;
    animation-duration: 1.5s;
    animation-timing-function: ease-in; 
    animation-fill-mode: forwards;
}

.who-painted-prompt {
    margin-top: 0px;
}
.wrong-x {
    font-size: 2em;
    color: #d9534f;
    margin-left: 25px;
    margin-bottom: -10px;
    /*vertical-align: bottom;*/
}
.correct-check {
    font-size: 3em;
    color: #5cb85c;
    margin-left: 25px;
}

.answer-list {
    margin: 5px auto 10px auto;
}
.answer-button {
    background-color: #5bc0de;
    color: #fff;
    padding: 10px 5px;
    text-shadow: 1px 1px 2px #333;
    margin: 5px 0px;
    font-size: 1.3em;
}

.wrong-answer {
    text-decoration: line-through;
    color: #fff;
    background-color: #d9534f;
}
.correct-answer {
    color: #fff; 
    background-color: #5cb85c;
}

.sign-up-invite {
    margin-top: 50px;
}

.staging-artpacks {
    border: 1px solid 999;
    background-color: #ccc;
    margin: 10px;
    padding: 30px;
}
.staging-artpacks img {
    border: 5px solid black;
    width: 100%;
}
.staging-titles {
    font-size: 1.5em;
    margin-bottom: 5px
}

.modal-dialog {
    min-height: 95vh;
    min-width: 95vw;
}
.modal-painting {
}
.modal-painting img {
    max-width: 100%;
    max-height: 50vh;    
}
.modal-description {
    text-align: left;
    padding: 10px 50px;
    margin-top: 10px;
}
.close {
    color: #333;
    opacity: 1;
    text-decoration: underline;
}
.close:hover {
    background-color: #fff;
    opacity: 1;
    text-decoration: underline;
    color: #666;
}
.modal-footer {
    margin-top: 30px;
}

footer {
    border-top: 1px solid #ccc;
}
.footer-text {
    padding-top: 5px;
}




